//- app-manu-bar

form(action='')
	.form
		h1 RESERVAR AHORA
		.grupo
			input(type='text' name='' id='' required='')
			span.barra
			label Nombres
		.grupo
			input(type='text' name='' id='' required='')
			span.barra
			label Apellidos
		.grupo
			select(type='select' name='' id='')
				option Tipo de cita
				option Neurologia
				option Obstetricia
				option Cardiologia
			span.barra
		.grupo
			input(type='datetime-local' name='' id='' required='')
			span.barra
		.grupo
			select(type='select' name='' id='')
				option Especialista
				option 1
				option 3
				option 2
			span.barra
		button(type='submit') RESERVAR