
<form action="">
  <div class="form">
    <h1>RESERVAR AHORA</h1>
    <div class="grupo">
      <input type="text" name="" id="" required=""><span class="barra"></span>
      <label>Nombres</label>
    </div>
    <div class="grupo">
      <input type="text" name="" id="" required=""><span class="barra"></span>
      <label>Apellidos</label>
    </div>
    <div class="grupo">
      <select type="select" name="" id="">
        <option>Tipo de cita</option>
        <option>Neurologia</option>
        <option>Obstetricia</option>
        <option>Cardiologia</option>
      </select><span class="barra"></span>
    </div>
    <div class="grupo">
      <input type="datetime-local" name="" id="" required=""><span class="barra"></span>
    </div>
    <div class="grupo">
      <select type="select" name="" id="">
        <option>Especialista</option>
        <option>1</option>
        <option>3</option>
        <option>2</option>
      </select><span class="barra"></span>
    </div>
    <button type="submit">RESERVAR</button>
  </div>
</form>