h1.content Mi Perfil
	form.contenedor( [formGroup]="formPerfil")
		div
			label Nombres
			input(type='text' formControlName='nombre')
		div
			label Apellidos
			input(type='text' formControlName='apellidos')
		div
			label Fecha de cita
			input(type='date' formControlName='fecha_nacimiento')
		div
			label Celular
			input(type="number" formControlName='celular')
		div
			label DNI
			input(type="number" formControlName='dni')
		div
			label Contraseña
			input(type='text' formControlName='password' placeholder="Ingrese nueva contraseña")

		div
			label Departamento
			select( formControlName='departamento')
				option(value='') Seleccione 
				option(*ngFor="let dep of departamentos", [value]="dep.id_departamento") {{dep.nombre_departamento}}
		div
			label Provincia
			select(formControlName='provincia')
				option(value='') Seleccione 
				option(*ngFor="let pro of provincias", [value]="pro.id_provincia") {{pro.nombre_provincia}}
		div
			label Distriro
			select(formControlName='distrito')
				option(value='') Seleccione  
				option(*ngFor="let dis of distrito", [value]="dis.id_distrito") {{dis.nombre_distrito}}


	button((click)='save()') Guardar

	//- p {{usuario | json}}
