.principal
	.content
		//- hr
		h3.title(routerLink="/index/citas" routerLinkActive="active-link") Nueva Cita
		h3.title(routerLink="/index/perfil" routerLinkActive="active-link") Mi Perfil
		h3.title(routerLink="/index/mis-citas" routerLinkActive="active-link") Mis Citas
	.content-center.scroll
		router-outlet