.modal-wrapper {
  background-color: #ffffff;
  padding: 30px;
  width: 500px;
}

.modal-wrapper header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal-wrapper header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 100%;
  margin: 0;
}

.modal-wrapper header i {
  cursor: pointer;
  font-size: 20px;
}
