
//- app-manu-bar
#main-container
	h1 MIS RESERVAS
	.box
		.container-4
			input#search(type='search' placeholder='Buscar Cita...')
			button.icon
				i.fa.fa-search
	table
		thead
			tr
				th N° Solicitud
				th NOMBRES
				th APELLIDOS
				th TIPO DE CITA
				th ESPECIALISTA
				th FECHA
				th OPCION
		tr
			td 00144
			td Juan
			td Gutierres Gutierres
			td Cardiologia
			td Dr Cardio
			td 2021-11-01
			td
				a.btn.btn-green( (click)="navigate()") Editar
				a.btn.btn-red Anular
		tr
			td 002
			td Juan
			td Gutierres Gutierres
			td Cardiologia
			td Dr Cardio
			td 2021-11-01
			td
				a.btn.btn-green(href='#') Editar
				a.btn.btn-red(href='#') Anular
		tr
			td 003
			td Juan
			td Gutierres Gutierres
			td Cardiologia
			td Dr Cardio
			td 2021-11-01
			td
				a.btn.btn-green(href='#') Editar
				a.btn.btn-red(href='#') Anular
		tr
			td 004
			td Juan
			td Gutierres Gutierres
			td Cardiologia
			td Dr Cardio
			td 2021-11-01
			td
				a.btn.btn-green(href='#') Editar
				a.btn.btn-red(href='#') Anular
		tr
			td 005
			td Juan
			td Gutierres Gutierres
			td Cardiologia
			td Dr Cardio
			td 2021-11-01
			td
				a.btn.btn-green(href='#') Editar
				a.btn.btn-red(href='#') Anular
