
<div id="main-container">
  <h1>MIS RESERVAS</h1>
  <div class="box">
    <div class="container-4">
      <input id="search" type="search" placeholder="Buscar Cita...">
      <button class="icon"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>N° Solicitud</th>
        <th>NOMBRES</th>
        <th>APELLIDOS</th>
        <th>TIPO DE CITA</th>
        <th>ESPECIALISTA</th>
        <th>FECHA</th>
        <th>OPCION</th>
      </tr>
    </thead>
    <tr>
      <td>001</td>
      <td>Juan</td>
      <td>Gutierres Gutierres</td>
      <td>Cardiologia</td>
      <td>Dr Cardio</td>
      <td>2021-11-01</td>
      <td><a class="btn btn-green" href="#">Editar</a><a class="btn btn-red" href="#">Anular</a></td>
    </tr>
    <tr>
      <td>002</td>
      <td>Juan</td>
      <td>Gutierres Gutierres</td>
      <td>Cardiologia</td>
      <td>Dr Cardio</td>
      <td>2021-11-01</td>
      <td><a class="btn btn-green" href="#">Editar</a><a class="btn btn-red" href="#">Anular</a></td>
    </tr>
    <tr>
      <td>003</td>
      <td>Juan</td>
      <td>Gutierres Gutierres</td>
      <td>Cardiologia</td>
      <td>Dr Cardio</td>
      <td>2021-11-01</td>
      <td><a class="btn btn-green" href="#">Editar</a><a class="btn btn-red" href="#">Anular</a></td>
    </tr>
    <tr>
      <td>004</td>
      <td>Juan</td>
      <td>Gutierres Gutierres</td>
      <td>Cardiologia</td>
      <td>Dr Cardio</td>
      <td>2021-11-01</td>
      <td><a class="btn btn-green" href="#">Editar</a><a class="btn btn-red" href="#">Anular</a></td>
    </tr>
    <tr>
      <td>005</td>
      <td>Juan</td>
      <td>Gutierres Gutierres</td>
      <td>Cardiologia</td>
      <td>Dr Cardio</td>
      <td>2021-11-01</td>
      <td><a class="btn btn-green" href="#">Editar</a><a class="btn btn-red" href="#">Anular</a></td>
    </tr>
  </table>
</div>