.home 
	.banner 
		.title-banner
			h1 Recuerda usar doble mascarilla 
			p al acudir a tus citas en la sede 
		.reserve-now
			button Reservar aqui 
	.title_nuestros_clietes
		h1 Nuestros clientes	
	.nuestros_clientes
		img(src="https://credicorp.hiringroom.com/data/accounts/credicorp/microsite/053106433c3ad42b76aea147c02fdc0d.jpg", alt="")
		img(src="https://reqlut2.s3.amazonaws.com/uploads/logosSocial/073ee4500be70e46bddf354657d86da69756d7ad-5242880.png?v=20.8", alt="")
		img(src="https://i.pinimg.com/originals/1b/3e/0c/1b3e0cd96d342d8818adf9b873f8527e.jpg", alt="")
		img(src="https://www.apeseg.org.pe/wp-content/uploads/2019/07/positiva.png", alt="")
		img(src="https://www.interseguro.pe/wp-content/uploads/2019/09/Conocenos_video.jpg", alt="")

