.dashboard
    .content
        h1( routerLinkActive="active-link" routerLink="/dashboard/citas") Citas
        h1( routerLinkActive="active-link" routerLink="/dashboard/areas") Areas
        h1( routerLinkActive="active-link" routerLink="/dashboard/personal") Personal

    .content-center.scroll
        router-outlet
