.tabla.d-flex.justify-content-between
	h1 Citas

	button.btn.btn-primary( type="button", (click)="showAddCategoryModal()" ) Agregar Cita

.tabla
	table.table.table-striped
		thead
			tr
				th(scope='col') #
				th(scope='col') Fecha Registro
				th(scope='col') Comentario
				th(scope='col') Fecha cita
				th(scope='col') Sede
				th(scope='col') Paciente
				th(scope='col') Area
				th(scope='col') Hora
				th(scope='col') 
		tbody
			tr(*ngFor="let cita of citas")
				th(scope='row') {{cita.id_cita}}
				td {{cita.fecha_registro}}
				td {{cita.comentario}}
				td {{cita.fecha_cita}}
				td {{cita.sede.nombre_sede	}}
				td {{cita.paciente.usuario.nombre}} {{cita.paciente.usuario.apellidos}}
				td {{cita.area.nombre_area}}
				td {{cita.hora.rango_horas}}
				td 
					i.fas.fa-edit((click)="editCita(cita)")
					i.fas.fa-trash-alt((click)="deleteCita(cita.id_cita)")

<app-backdrop *ngIf="showModal">			
	<app-modal-wrapper title="Agregar cita">
		<form action="" [formGroup]="formCitas">
			<div>
				<label for="cita_comentario">Comentario</label>
				<input #ComentarioInput appAutoFocus type="text" id="cita_comentario" formControlName="comentario" />
			</div>

			<div>
				<label for="">Fecha de cita</label>
				<input type="date" id=""  formControlName="fecha_cita"/>
			</div>
			<div>
				<label for="">Sede</label>
				select(name="" formControlName="sede")
					option(value="") Seleccione Sedes 
					option([value]="sede.id_sede", *ngFor="let sede of sedes") {{sede.nombre_sede}}   
			</div>
			<div>
				<label for="">Paciente</label>
				select(name="" formControlName="paciente")
					option(value="") Seleccione Paciente 
					option([value]="paciente.id_paciente", *ngFor="let paciente of pacientes") {{paciente.usuario.nombre}} {{paciente.usuario.apellidos}}   
			</div>
				<div>
				<label for="">Area</label>
				select(name="" formControlName="area")
					option(value="") Seleccione Areas 
					option([value]="area.id_area", *ngFor="let area of areas") {{area.nombre_area}}   
			</div>
				<div>
				<label for="">Hora</label>
				select(name="" formControlName="hora")
					option(value="") Seleccione Horario de atención 
					option([value]="hora.id_hora", *ngFor="let hora of horas") {{hora.rango_horas}}   
			</div>

			<button (click)="saveCita()">Guardar</button>
		</form>
	</app-modal-wrapper>
</app-backdrop>


app-modal-update(*ngIf="showModalUpdate", [cita]="citaCurrent", (citasCurrent)="actualizarCitas($event)" )


app-spinner(*ngIf="loanding")